<div *ngIf="selectedHero">
  <!--Cuando se inicia la aplicación, selectedHero está con el valor undefined por diseño.

  Las expresiones vinculantes en la plantilla que hacen referencia a las propiedades de selectedHero - expresiones como {{selectedHero.name}} - debe fallar porque no hay ningún héroe seleccionado.

  La solución
  El componente sólo debera mostrar los detalles del héroe seleccionado si el selectedHero existe.

  Envuelva el HTML de detalles del héroe con un <div>. Agrega la directiva de Angular *ngIf al <div> y establécelo en selectedHero.-->
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>

  <div>
    <!--El cuadro de texto debe mostrar la propiedad de name del héroe y actualizar esa propiedad a medida que el usuario lo escribe. [(ngModel)] es la sintaxis de enlace de datos bidireccional de Angular.-->
    <label
      >name: <input [(ngModel)]="selectedHero.name" placeholder="name" />
      <!--La plantilla todavía se refiere a la antigua propiedad del hero del componente que ya no existe. Cambiar el nombre de hero a selectedHero.-->
    </label>
  </div>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li
    *ngFor="let hero of heroes"
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero"
  >
    <!--El *ngFor es la directiva de repetidor de Angular. Repite el elemento host para cada elemento en una lista. |||||
    Cuando el usuario hace click en un héroe en la lista maestra, el componente debe mostrar los detalles del héroe seleccionado en la parte inferior de la página. ||||
    Es difícil identificar al héroe selecccionado en la lista cuando todos los elementos <li> se aparecen. Ese color de héroe seleccionado es el trabajo de la clase CSS .selected en los estilos que agregamos antes. Sólo tenemos que aplicar la clase .selected al <li> cuando el usuario hace click. -->
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul>
